<!-- elli mel fou9 -->

<div class="container-fluid" style="background-color: rgb(230, 8, 8);color:white">
  <div class="row">
      <div class="col-sm-6" style="padding:10px ;">
          <h1>Consomi tounsi</h1>
      </div>
      <div class="col-sm-3">
      </div>
      <div style="padding-top:40px;padding-left: 200px ;">          
              <span>tunisian market </span>
      </div>
  </div>
</div>

<div>
    <router-outlet></router-outlet>

</div>
<!--  elli mel loutta -->
<div style="color:white;width:100%;background-color:rgb(129, 11, 11);bottom:0%;text-align: center;">
<p>A propos: c'est un site ciblé pour les tunisiens qui veulent acheter des produits tunisiennes afin d'améliorer l'economie et le dinar tunisian</p>
</div>
